* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #d2d2d2;
  --bg-color: #191910;
  --stroke-color: #1a1a1a;
  --stroke-color-hover: #303030;
  --surface-color: #3e3e3e;
  --surface-color-hover: #474747;
  --highlight-color: #474747;
}

body {
  background-color: var(--bg-color);
}

body * {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--text-color);
}

#container {
  width: 360px;
  margin: 3.5rem auto 0rem;
}

#profile {
  text-align: center;
  padding: 1.5rem;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  margin-top: 0.5rem;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  list-style: none;

  padding: 1.5rem 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem 1.5rem;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 0.5rem;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1px solid var(--stroke-color-hover);
}

#social-links {
  display: flex;
  justify-content: center;

  padding: 1.5rem 0;

  font-size: 1.5rem;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem;

  border-radius: 50%;

  transition: background 0.2s;
}

#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  padding: 1.5rem 0;
  text-align: center;
  font-size: 0.875rem;
}
